.form-submit {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
}

.form-submit__controls {
  position: relative;
  grid-column: 1/3;
  display: grid;
  gap: 3px;
}

.form-submit__controls:nth-of-type(4) {
  margin-bottom: 10px;
}

.form-submit__label {
  grid-column: 1/2;
  font-size: 18px;
  line-height: 20px;
}

.invalid .form-submit__input {
  background-color: #fddddd;

  border: 1.5px solid #b40e0e;
}

.invalid .form-submit__input:focus {
  background-color: #fbe8d2;
  border: 1.5px solid #ff8800;
}

.form-submit__error-text {
  position: absolute;
  right: 5px;
  margin: 0;
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: end;
  color: rgb(191, 44, 44);
}

.form-submit__input {
  /* align-self: center; */
  grid-column: 1/3;

  padding: 5px 0;
  max-width: 100%;
  border: 1.5px solid #8a2b06;
  border-radius: 5px;
  outline: none;
}

.form-submit__input:focus {
  border: 1.5px solid rgb(67, 67, 221);
}

.form-submit__btn-block {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-submit__btn {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
}

.form-submit__btn:hover,
.form-submit__btn:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.form-submit__btn:last-of-type:disabled,
.form-submit__btn:last-of-type:disabled:hover,
.form-submit__btn:last-of-type:disabled:active {
  background-color: rgb(154, 152, 152);
  border: 1px solid rgb(170, 139, 139);
}
