.dish {
  display: grid;
  margin: 0 0 10px 0;
  padding: 0;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  border-bottom: 1px solid rgb(218, 210, 210);
}

.dish__title {
  display: grid;
  grid-area: 1/1/2/2;
  align-self: self-start;
  padding: 0;
  margin: 0;
}

.dish__slogan {
  margin: 0;
  padding: 27px 0 0 0;
  grid-area: 1/1/2/2;
  align-self: center;
  font-style: italic;
}

.dish__price {
  margin-bottom: 10px;
  grid-area: 3/1/4/2;
  align-self: self-start;
  font-weight: 700;
  font-size: 20px;
  color: #ad5502;
}
