.form {
  display: grid;
  grid-template-columns: auto 0px;
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
}

.form__input {
  justify-self: self-end;
  grid-row: 1/1;
  padding: 3px 0;
  width: 40px;
  text-align: center;
  font-weight: 700;
  border: 1px solid rgb(184, 166, 166);
  border-radius: 5px;
}

.form__label {
  margin-right: 15px;
  grid-row: 1/1;
  justify-self: end;
  width: 100px;
  font-size: 16px;
  font-weight: 700;
}

.form__btn {
  grid-row: 2/2;
  align-self: self-end;
  justify-self: self-end;
  padding: 3px 35px;
}

.form__valid {
  margin: 0;
  grid-row: 3/3;
  color: red;
}
